<h1><%= image_tag 'about_logo.png' %></h1>
<div class="ann">

<hr />
<div id="page">
  <div id="content">
    <div class="post">
      <h1 class="title">О проекте WantCan</h1>
      <div class="entry">
        <p>Добро пожаловать в систему поиска и обмена навыками и умениями.
          <br/>
          <br/>
          Вы умеете и хотите поделиться опытом? Вам нужно просто <strong>добавить предложение</strong>. Или Вы давно мечтали чему-то научиться, хотите уметь делать что-то? <strong>Оставьте свое предложение!</strong>
          <br/>
          <br/>
          Всё предельно просто:
          <br/>
          <br/>
          Если вы хотите научиться чему-либо, опубликуйте своё предложение (о том, чему вы хотите научиться) в разделе <a href="#"><strong>Want</strong></a>.
          <br/>
          А если вы хотите поделиться опытом - то опубликуйте предложение в категории <a href="#"><strong>Can</strong></a>.
          <br/>
          <br/>
          Так же вы можете найди людей, чтобы посетить различные мероприятия или найти попутчика в путешествиях, добавив своё желание в раздел <a href="#"><strong>Groups</strong></a>. Или можете вступить уже в существующую группу людей.
          <br/>
          <br/>
          Мы поможем вам получить возможность быстрого поиска получения и передачи желаемых навыков и умений. Предложить удобное и простое средство для реализации и совершенствования своих умений и способностей

          <br/>
          <br/>
          И помните, чем интереснее публикация, тем скорее вы найдёте отклик! Удачи в поисках ^^</p>
      </div>
    </div>
  </div>
</div>
<!-- end content -->

<div style="clear: both;">&nbsp;</div>
</div>
