<h1><%= image_tag 'help_logo.png' %></h1>
<div class="ann">
  <div id="page">
    <div id="content">
      <div class="post">
        <div class="entry">
          <h1 class="title">FAQ - Вопросы и Ответы</h1>
          <div class="entry">
            <strong><p style="color:#2F9591">1. C чего начать?</p></strong>
            Ответ: Ну для начала зарегестрируйтесь. Это совсем не сложно. А дальше выбирайте между разделами Want,Can или Groups чтобы опубликовать свои умения, желания или то, куда бы вы хотели съездить или что посетить.
            <br/>
            Так же вы можете посмотреть, что хотят или могут другие участники проекта и присоединиться к ним.
            <br/><br/>
            <strong><p style="color:#2F9591">2. Не могу зайти в аккаунт, что делать?</p></strong>
            Ответ: Учитывайте следующие:<br/>
            1. убедитесь в правильном выборе языка<br/>
            2. логин и пароль регистро зависимы, т.е. большая и маленькая буква это два разных значения;<br/>
            3. пробелы в начале и в конце пароля учитываются, не задавайте пароль с такими пробелами если точно этого не хотите.
            <br/><br/>
            <strong><p style="color:#2F9591">3. Как добавить желание/умение или группу?</p></strong>
            После входа в аккаунт/регистрации на верхней панели меню выбирете соответствующую вкладку (например Want для создания умения). При переходе на страницу создайте желаниое вами.
            <br/>
            <br/><br/>
            <strong><p style="color:#2F9591">3. Я зарегистрировался/зарегистрировалась, но в моём аккаунте нет аватарки/города/возраста. Что делать?</p></strong>
            На верхней панели меню во вкладке Account выбирете вкладку Settings. При переходе на неё вы сможете изменить нужные вам параметры.
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>