<div class="row">
  <div class="offset2 span8">
    <ul class="unstyled" id="messages">
      <%= render @conversation.messages %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="offset2 span8">
  <%= form_tag  conversation_messages_path(@conversation), :method => :post, :remote => true do %>
    <%= text_area_tag :message_text %>
    <%= submit_tag 'Send', :class => 'btn btn-main' %>
  <% end %>
  </div>
</div>